#Button_EdDV2Y {
	height:6.06em;
	left:0em;
	top:6.00em;
}
#Button_mpnfSD {
	width:4.88em;
	height:3.56em;
	left:5.94em;
	top:10.69em;
	border-style:dotted;
	border-color:rgba(23,20,20,1);
	border-radius:0px;
	background-color:rgba(135,109,109,1);
	color:rgba(46,41,41,1);
}
#Tab_74UXmL {
	top:21.44em;
	height:2.75em;
}
